
<div class="top_space">

<div>
  <div *ngIf="isDel" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>
      Delete !
    </strong> 
    Deleted Successfuly
    
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  


 <div class="row-md-10">
  <table id="customers">
      <tr>        
        <th>Template Name </th>
        <th>Index Patterns</th>
        
        <th>Edit </th>
        <th>Delete</th>
      <tr>
      
      <tr  *ngFor = "let item of templates |keyvalue |paginate: {itemsPerPage:10 ,currentPage: page , totalItems: totalRecords }"> 
        <td>{{item.key}}</td>
        
        <td></td>
        <!--<td *ngIf="item.index_template.priority">{{item.index_template.priority}}</td>
        <td *ngIf="!item.index_template.priority">--</td> -->
        <td>
          <button (click)="editTemplate(item.key)"><mat-icon>create</mat-icon></button>
        </td>
        <td>
          <button (click)="deteleTemplate(item.key)" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr> 
  </table>
  </div>
  <div class="d2">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>  

    

</div>
</div>

<!--
<body>
    
   <div class="d3">
   <mat-icon>youtube_searched_for</mat-icon>
    <input type="text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="">
    <mat-icon>delete</mat-icon></a>
    <a href="create">
        <mat-icon>create</mat-icon></a>
</div>
   <b>{{template1['.ml-stats'].index_patterns[0]}}</b>
    
    <div *ngFor = "let item1 of template1| keyvalue| paginate: {itemsPerPage:10 ,currentPage: page , totalItems: totalRecords }"> 
      <b>{{item1.key}}   {{item1.value}}</b>
   
        
       
                    
    
   
    </div>
    <div class="d2">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>


</body>
-->