<!-- <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head> -->
<div>
  <div *ngIf="ifSuccess" class="alert alert-danger alert-dismissible fade show" role="alert">
    Template Created  !!!
   <strong>
    Successfully !!!
    </strong>
    <a href="home">
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button></a>
  </div>
  
  <div class="row">
    
    <div class="col-md-5">
      <div style="width:600px; height:700px; overflow:auto" >
        <div class="container">
          <table class="example-full-width" cellspacing="0" cellpadding="0" border="0" >
              <tr><h1>Create Table</h1><tr>
              <tr><b> Template Name :  </b></tr>

              <tr> <textarea placeholder="Enter Template name" [(ngModel)]="name" rows="3" cols="50" ></textarea></tr>
              <tr><b>Index Patterns :  </b> </tr>
                <tr><textarea placeholder="Enter index Patterns" [(ngModel)]="index_patterns" rows="3" cols="50"></textarea></tr>
                
              
                <tr><th><b><h4>Do Settings</h4></b></th></tr>
                <tr> <b>No of shards :  </b> </tr>
                <tr><input placeholder="Number of shard " [(ngModel)]="number_of_shards"  size="50px" /></tr>
                <tr> <b>No of Replicas :  </b></tr> 
                <tr><input placeholder="Number of shard " [(ngModel)]="number_of_shards" size="50px" /></tr>
                
                <tr> <b>auto Expand Replicas :  </b></tr> 
                <tr><input placeholder="Number of shard " [(ngModel)]="number_of_shards"  size="50px"/> </tr>
              
                <tr><b>Format :  </b> </tr>
                <tr><input placeholder="Number of shard " [(ngModel)]="number_of_shards" size="50px" /></tr>
                <tr><b>Priority:  </b></tr> <tr><input placeholder="Number of shard " [(ngModel)]="number_of_shards" size="50px"/></tr>
            
                <tr> <b>Hidden:  </b> </tr>
                <tr><input placeholder="Number of shard " [(ngModel)]="number_of_shards"  size="50px"/> </tr>
                <tr><th><h4>Do Mappings</h4></th>
                    <tr> <td> <button mat-button (click)="newMap()" mat-flat-button color="primary">Add Properties</button></td></tr>
                    <tr>  <td><button mat-raised-button type="submit" (click)="createTemplate()">Save</button> </td>
                    <td><button mat-raised-button type="submit" (click)="cancel()">Cancel</button></td></tr>
              </table>
           </div>
        </div>
    </div>
    <div class="col-md-5">
              
            <div *ngIf="isProperty">
              <app-mapping-properties (addProperties)=" newProperties($event)"></app-mapping-properties>
            </div>
     </div>
     </div>