<h3>You are changing <b>{{templetename}} </b>template</h3>
<div class="row">
  <div class="col-md-2">
 
<section>
    <nav>
    <ul>
    <li><button  button mat-stroked-button (click)="updateTemplateIndexPattern()">Index Pattern</button></li>
    <li><button button mat-stroked-button (click)="updateTemplateSetting()">Template Setting</button></li>
    <li><button  button mat-stroked-button (click)="updateMappingProperties()" >Mapping-properties</button></li>
    <li><button button mat-stroked-button (click)="updateTemplateAlias()">Aliase</button></li>
        </ul>
        </nav>
</section>
</div>
<div class="col-md-10">
  <div *ngIf="isIndexUpdate">
  Update_Index: <input type="text" placeholder="enter New Index" [(ngModel)]="l_index_patterns"><br>
  <button (click)="onSubmitIndex()">Change</button>
</div>

</div>
</div>



<!-- 
  Whenever this component get loaded all data
  4 variables
    1) Index Patterns -> Array data
    2) Template Setting -> Setting data
    3) Mapping Properties -> Mapping Data
    4) Aliases -> Aliases data
  
  On click event of buttons
  4 modal(Form) with respective to give data set
  
  
  
-->