

<h3>You are changing <b>{{templetename}} </b>template</h3>
<section>
    <nav>
    <ul>
    <li><button  button mat-stroked-button (click)="updateTemplateIndexPattern()">Index Pattern</button></li>
    <li><button button mat-stroked-button (click)="updateTemplateSetting()">Template Setting</button></li>
    <li><button  button mat-stroked-button (click)="updateMappingProperties()" >Mapping-properties</button></li>
    <li><button button mat-stroked-button (click)="updateTemplateAlias()">Aliase</button></li>
        </ul>
        </nav>
</section>

<div *ngFor= "let item in templateinfo">
  
</div>
<!-- 
  Whenever this component get loaded all data
  4 variables
    1) Index Patterns -> Array data
    2) Template Setting -> Setting data
    3) Mapping Properties -> Mapping Data
    4) Aliases -> Aliases data
  
  On click event of buttons
  4 modal(Form) with respective to give data set
  
  
  
  <div tyle="height: 100%;
width: 10%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;">
<div class="container">
    <div class="navbar navbar-default">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><button class="active" href="#about">Index Pattern</button></li>
<li><button href="#about">Template Setting</button>
            
             <li><a href="#">Services</a></li>
             <li><a href="#">Downloads</a></li>
             <li><a href="#">About</a></li>
             <li><a href="#">Contact</a></li>
         </ul>
      </div>
   </div>
   </div> -->

   <!-- <div  style="height: 100%;
   width: 10%;
   position: fixed;
   z-index: 0;
   top: 5;
   overflow-x: hidden;
   padding-top: 0px;">
   <div class="container">
     <div class="navbar navbar-default">
       <div class="navbar-inner">
         <div class="container">
           <ul class="nav navbar-nav">
             <li class="active"><a href="#">Home</a></li>
             <li><button mat-stroked-button  (click)="updateMappingProperties()">properties</button></li>
              <li><a href="#">Template Settins</a></li>
              <li><a href="#">Template Aliase</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
       </div>
    </div>
    </div> -->
   
     